body {
  font-family: 'Urbanist', sans-serif;
  font-size: 16px;
}

/* Style for main header */
.main-header {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

/* Style for sub header */
.sub-header {
  max-width: 75%;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.3;
  margin-top: 1rem;
  margin-bottom: 2rem;
}


/* Style for nav bar */
nav {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem;
}

/* Style for main section questions */
main {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.flex-column {
  display:flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

p {
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.5;
  margin: 0.5rem;
}


/* Define a universal style to be used for all buttons */
button {
  font-size: 1.2rem;
  font-weight: bolder;
  text-align: left;
  background-color: blueviolet;
  color:beige;
  margin: 0.3rem;
  border-radius: 5px;
  cursor: pointer;
  padding:0.2rem;
}

/* Hover effect on buttons */
button:hover {
  opacity: 75%;
  background-color: rgb(193, 113, 207);
  box-shadow: rgb(78, 77, 77) 2px 2px 2px;
  transition: all 0.2s ease-in-out;
}


/* Notification style */
#notification {
  margin-top: 0.5rem;
  opacity: 50%;
  font-size:2rem;
  font-style:italic;
  padding: 0.5rem;
  /* display:none; */
}

/* Timer style change on wrong answer */
.timer-wrong {
  color: red;
  transform: scale(1.3);
  transition: all 0.5s ease-in-out;
}

a {
  text-decoration:none;
}

ol {
  list-style: decimal;
  margin-bottom: 1rem;
  border-radius: 5px;
}

/* High score each player style */
li {
  font-size: 1.5rem;
  line-height: 1.5;
}

/* Style for main ranking section */
#ranking {
  background: rgb(204, 125, 219);
  padding-left: 2.5%;
  padding-right: 1%;
  border-radius: 5px;
}

#ranking li {
  background-color: rgb(223, 206, 240);
  margin: 5px;
  border-radius: 5px;
}