/* Style for nav */
nav {
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem;
}

/* Style for main section title (question title, All done, high score)*/

/* Style for main section questions */
main {
  text-align: center;
}

/* Define a universal style to be used for all buttons */
/* Button style */

/* Notification style (right, wrong with timer subtraction?) */
#notification {
  opacity: 50%;
  text-align: left;
  border-top: solid;
  /* border-style: solid; */
  font-size:2em;
  font-style:italic;
  padding: 1em;
}

/* Form input box style */

/* High score each player style */